:root{
   --opacity-1: 1;
   --opacity-2:0.8;
    --opacity-3:0.6;
    --opacity-4:0.4;
    --opacity-5:0.2;
}
*{
    font-family: Oxygen;
}
.box{
    width: 200px;
    height: 50px;
    fill: white;

    position: absolute;
    margin: 10px;
}
#box-1{
    left: 2%;
    top: 20%;
    opacity: 0;
    background-color: crimson;
}
#box-2{
    left: 21%;
    top: 20%;
    opacity: 0;
    background-color: crimson;
}
#box-3{
    left: 40%;
    top: 20%;
    opacity: 0;
    background-color: crimson;
}
#box-4{
    left: 59%;
    top: 20%;
    opacity: 0;
    background-color: crimson;
}
#box-5{
    left: 78%;
    top: 20%;
    opacity: 0;
    background-color: crimson;
}
/*container*/
#container{
    width: 90%;
    height: 20%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: inline-flex;
}
.btn-panel{
    position: absolute;
    top: 70%;
    left: 45%;
}